## Printing

In [ ]:
# Basic Printing

In [6]:
print("hello friends")
print(3)
print(3.0)

hello friends
3
3.0

In [7]:
# Variable 
a=input()
print(a)
print(type(a))

4
4
<class 'str'>

In [1]:
a, b, c  = 1, 2, "abcd"
print(a , c, b)

d = 6 + 10j
type(d)

1 abcd 2

complex

In [14]:
# Inline Print
print(11,11)
for i in range(4):
    print(i,end='')

11 11
0123

In [15]:
print(11,11)

11 11

In [17]:
for i in range(4):
    print(i)

0 1 2 3

## Arithmetic and Conditional Operators

### Arithmetic Operators
        addition         +
        subraction       -
        divide(float)    /
        divide (int)     //
        modulus          %
        exponent         **
        multplication     *

In [19]:
#addition
a=8
b=4
print("sum",a+b)
print("sub",a-b)
print("mul",a*b)
print("divide",a/b)
print("divide int",a//b)
print("mod",a%b)
print("exp",a**b)

sum 12
sub 4
mul 32
divide 2.0
divide int 2
mod 0
exp 4096

### Logical operators

In [20]:
#AND
a=True
b=False
print(a and b)

False

In [22]:
#OR
print(a or b)

True

In [24]:
#not
print(not a)

False

In [28]:
#xor
x=True
y=False
z=False
print(z^y)
print(x^y)

False
True

Python Identity Operators
1.is
2.is not

In [21]:
x=10
y=100
if x is y:
    print("hello")
if x is not y:
    print("not hello")

not hello

Python Membership Operators
1. in
2. not in

# let's code

## Let's Do swapping

In [ ]:
#fill in the blanks

## Datatypes

## strings

In [29]:
s='hello friends chai peelo!'
print(s)

hello friends chai peelo!

In [32]:
print(s[0])

h

In [34]:
s[0]='j'

TypeError: 'str' object does not support item assignment

## coz strings are immutable

### concatenation

In [39]:
string1='hello friends chai peelo!'
string2=' oops garam hai'
string3= string1 + string2
print(string3)

hello friends chai peelo! oops garam hai

In [44]:
string4= 'hello friends chai peelo!'  " oops garam hai"
print(string4)

hello friends chai peelo! oops garam hai

In [54]:
l=len(string4)
print(string4[0:])
print(string4[5:])
print(string4[8:])
print(string4[l:])
print(string4[l-1:])
print(string4[l-2:])
print(string4[0:5])
print(string4[0:l])

hello friends chai peelo! oops garam hai
 friends chai peelo! oops garam hai
iends chai peelo! oops garam hai

i
ai
hello
hello friends chai peelo! oops garam hai

In [ ]:
a = "abc,def, dhhu, eur"
spl = a.split(",")# splitting across the comma(present in the string)
spl

In [ ]:
#The split() method splits the string into substrings if it finds instances of the separator

In [ ]:
",".join(spl)# joing the list made back to string

In [18]:
a = " Hello ,  World! " # strip function remove the spaces from the beginning and the end 
print(a.strip())

Hello ,  World!

In [12]:
len(a) # gives the length of the parameter

18

In [ ]:
a = "123"
a.isalpha(), a.isdigit()

# LIST

In [6]:
l = [1,2,3, "dgdgd", [4,5]]
print(type(l))
l

<class 'list'>

[1, 2, 3, 'dgdgd', [4, 5]]

In [22]:
l = [1,2,3, "dgdgd", [4,5]]
l[3] = 34# list functions are mutable unlike the strings
l.append(2)
l[4][0]

4

In [3]:
l=[[i for i in range(j+1)]for j in range(10)]

In [4]:
l

[[0],
 [0, 1],
 [0, 1, 2],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [56]:
l1=[]
for i in range(10):
    l1.append(i)

In [57]:
print(l1,end=' ')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# DICTIONARY

In [5]:
dict = {}
print(type(dict))

dict[4] = "abddh"
dict["dhdd"] = 1344
print(len(dict))
print(dict)
dict[4]

<class 'dict'>
2
{4: 'abddh', 'dhdd': 1344}

'abddh'

In [66]:
l2=[]
for key in dict:
    l2.append(key)
for key in l2:
    print(dict[key])
print((l2))

abddh
1344
[4, 'dhdd']

# TUPLE

In [ ]:
t = (2, 3, 4)
d , e, f, = t
d, e, f

## Conditional Statements

In [67]:
# look at the intendation part carefully 
a = 11
if a==10:
    print("hello frandss")

elif a==11:
    print("okay friendss")
    
else:
    print("no hello frandsss")

okay friendss

In [68]:
if 2 > 3 :
    print("WHAT!")
elif 3 > 4 or 4 > 3:
    print("NOOO")
else:
    print("makes sense")

NOOO

## INPUT

In [70]:
input()

3

'3'

In [71]:
#lets see the type of the input
type(input())
# it by default take the string as the input

3

str

In [ ]:
type(int(input()))

In [ ]:
n = int(input())
l = [i*i for i in range(n + 1)]

In [ ]:
#comments in python 
"""
multiline 
comments
in 
python
"""